body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(125deg, #fff, rgb(161, 253, 241));
    height: 100vh;
}
.relogio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px, 8px, 10px, rgba(1, 1, 201, 0.5);
}